.left-container {
  position: relative;
  z-index: 100;
  height: 100%;
  min-height: 100%;

  grid-column: 1 / 11;

  display: grid;
  grid-template-columns: repeat(10, 1fr);

  & .left-background {
    position: absolute;
    top: 0;
    right: 0;

    display: grid;
    z-index: -100;
    grid-template-columns: repeat(14, 1fr);
    align-items: center;

    width: 100%;
    height: 100%;

    & .left-background-color {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-color: #fafbff;

      object-fit: fill;
      overflow: hidden;
    }
  }

  & .left-content-desktop {
    padding-top: 100px;
    box-sizing: border-box;

    width: 100%;
    grid-column: 2 / 11;

    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 30px;

    & .step-container {
      width: 100%;
      display: grid;
      grid-template-columns: min-content 1fr;
      column-gap: 15px;
      align-items: center;

      & .step-number {
        width: 24px;
        height: 24px;

        border-width: 1px;
        border-style: solid;
        border-radius: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    & .step-inactive {
      & .step-number {
        border: 1px solid #c5cbe0;

        & span {
          color: #c5cbe0;
        }
      }

      & span {
        color: #c5cbe0;
      }
    }

    & .step-active {
      & .step-number {
        border: 1px solid #6f7dff;
        background-color: #6f7dff;

        & span {
          color: #fff;
        }
      }

      & span {
        color: #494f66;
      }
    }
  }

  & .left-content-mobile {
    display: none;
  }
}

@media (max-width: 1850px) {
  .left-container {
    & .left-background {
      width: calc(100% + 20px);
      height: 100%;
    }
  }
}

@media (max-width: 875px) {
  .left-container {
    grid-column: 1 / 39;
    margin-top: 90px;
    min-height: min-content;
    height: min-content;

    grid-template-columns: repeat(38, 1fr);

    & .left-background {
      display: none;
    }

    & .left-content-desktop {
      display: none;
    }

    & .left-content-mobile {
      position: relative;
      width: 100%;
      grid-column: 1 / 39;

      display: grid;
      grid-template-columns: min-content max-content 1fr;
      grid-auto-rows: min-content;
      column-gap: 15px;
      align-items: center;

      padding-bottom: 15px;

      &::before {
        content: '';
        width: 100vw;
        height: 1px;

        position: absolute;

        bottom: 0;
        left: -40px;

        background-color: #edeffc;
      }

      & .icon-back {
        width: 24px;
        height: 24px;

        border: 1px solid #d7dbf5;
        border-radius: 100px;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        & svg {
          width: 12px;
          height: 12px;
          & path {
            fill: #d7dbf5;
          }
        }
      }

      & .right-bar {
        width: 100%;
        height: 6px;
        border-radius: 8px;

        background-color: #6464fa;
      }
    }
  }
}

@media (max-width: 475px) {
  .left-container {
    & .left-content-mobile {
      &::before {
        left: -20px;
      }
    }
  }
}
