.left-container {
  position: relative;
  z-index: 100;
  height: 100%;
  min-height: 100%;

  grid-column: 1 / 11;

  display: grid;
  grid-template-columns: repeat(10, 1fr);

  & .left-background {
    position: absolute;
    top: 0;
    right: 0;

    display: grid;
    z-index: -100;
    grid-template-columns: repeat(14, 1fr);
    align-items: center;

    width: calc(100% + 10%);
    height: 100%;

    & .left-background-color {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-color: #fafbff;

      object-fit: fill;
      overflow: hidden;
    }
  }

  & .left-content-desktop {
    padding-top: 100px;
    box-sizing: border-box;

    width: 100%;
    grid-column: 2 / 11;

    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 30px;

    & .step-container {
      width: 100%;
      display: grid;
      grid-template-columns: min-content 1fr;
      column-gap: 15px;
      align-items: center;

      & .step-number {
        width: 24px;
        height: 24px;

        border-width: 1px;
        border-style: solid;
        border-radius: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    & .step-inactive {
      & .step-number {
        border: 1px solid #c5cbe0;

        & span {
          color: #c5cbe0;
        }
      }

      & span {
        color: #c5cbe0;
      }
    }

    & .step-active {
      & .step-number {
        border: 1px solid #6f7dff;
        background-color: #6f7dff;

        & span {
          color: #fff;
        }
      }

      & span {
        color: #494f66;
      }
    }
  }
}
