.left-container {
  position: relative;
  z-index: 100;
  height: 100%;
  min-height: 100%;

  grid-column: 1 / 14;

  display: grid;
  grid-template-columns: repeat(13, 1fr);

  & .left-background-container {
    position: relative;

    z-index: -100;

    width: 100%;
    height: 100%;
    min-height: 100vh;

    grid-column: 1 / 11;

    & .left-background-color {
      position: absolute;
      top: 0;
      right: 0;

      background-color: #fafbff;

      width: 100%;
      height: 100%;
    }
  }

  & .central-image {
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);

    top: 70px;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 100%;
      height: auto;
    }
  }
}

.left-container-mobile {
  display: none;
}

.right-container {
  width: 100%;
  height: 100%;

  margin-top: auto;

  grid-column: 18 / 33;

  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;

  grid-template-columns: repeat(15, 1fr);

  row-gap: 40px;
  align-content: center;

  & div {
    grid-column: 1 / 16;
  }

  & > div:nth-child(2) {
    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 5px;
  }

  & .button-use-insurance {
    width: 100%;
    grid-column: 1 / 9;
  }
}

@media (max-width: 1850px) {
  .left-container {
    & .left-background-container {
      & .left-background-color {
        width: calc(100% + 20px);
      }
    }
  }
}

@media (max-width: 1250px) {
  .right-container {
    & .button-use-insurance {
      grid-column: 1 / 12;
    }
  }
}

@media (max-width: 875px) {
  .left-container {
    display: none;
  }

  .left-container-mobile {
    display: block;

    position: absolute;
    top: 70px;
    left: -40px;

    width: 100vw;
    height: 208px;

    background-image: url('../../../assets/images/gracias-mobile-background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      margin-top: auto;
      height: 95%;
      width: auto;

      transform: translateX(40%);
    }
  }

  .right-container {
    padding-top: 320px;
    padding-bottom: 40px;
    box-sizing: border-box;

    grid-column: 1 / 38;

    & .button-use-insurance {
      grid-column: 1 / 16;
    }
  }
}

@media (max-width: 475px) {
  .left-container-mobile {
    left: -20px;
  }
}
