.content {
  width: 100%;

  display: grid;

  grid-column: inherit;
  grid-template-columns: inherit;
}

.left-container {
  position: relative;
  z-index: 100;
  height: 100%;
  min-height: 100%;

  grid-column: 1 / 11;

  display: grid;
  grid-template-columns: repeat(10, 1fr);

  & .left-background {
    position: absolute;
    top: 0;
    right: 0;

    display: grid;
    z-index: -100;
    grid-template-columns: repeat(14, 1fr);
    align-items: center;

    width: calc(100% + 10%);
    height: 100%;

    & .left-background-color {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-color: #fafbff;

      object-fit: fill;
      overflow: hidden;
    }

    & .left-desktop {
      position: relative;
      z-index: 100;
      width: 100%;
      height: auto;

      // transform: translateY(-65%);
      margin-bottom: 65%;

      grid-column: 3 / 13;
    }
  }

  & .left-content-desktop {
    margin-top: 50px;

    width: 100%;
    grid-column: 2 / 11;

    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 30px;

    & .step-container {
      width: 100%;
      display: grid;
      grid-template-columns: min-content 1fr;
      column-gap: 15px;
      align-items: center;

      & .step-number {
        width: 24px;
        height: 24px;

        border-width: 1px;
        border-style: solid;
        border-radius: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    & .step-inactive {
      & .step-number {
        border: 1px solid #c5cbe0;

        & span {
          color: #c5cbe0;
        }
      }

      & span {
        color: #c5cbe0;
      }
    }

    & .step-active {
      & .step-number {
        border: 1px solid #6f7dff;
        background-color: #6f7dff;

        & span {
          color: #fff;
        }
      }

      & span {
        color: #494f66;
      }
    }
  }
}

.right-container {
  position: relative;
  z-index: 100;
  height: 100%;
  min-height: 100%;

  grid-column: 11 / 38;

  display: grid;
  grid-template-columns: repeat(27, 1fr);

  margin-top: 50px;

  & .cobertures-container {
    grid-column: 4 / 16;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;

    & .back-button {
      display: grid;
      width: max-content;
      grid-template-columns: min-content max-content;
      column-gap: 10px;
      align-items: center;

      cursor: pointer;
      user-select: none;

      & .back-icon {
        width: 24px;
        height: 24px;

        border: 1px solid #fc606b;
        border-radius: 100px;

        display: flex;
        justify-content: center;
        align-items: center;

        & svg {
          width: 10px;
          height: 10px;
          margin-right: 2.5px;
        }
      }
    }

    & .greetings-user {
      margin: 15px 0;
      display: grid;
      grid-template-rows: min-content min-content;
      row-gap: 5px;
    }
  }
}
