.container-page {
  max-width: 2000px;
  margin: 0 auto;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-width: 1776px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(37, 1fr);
}

.header {
  position: absolute;
  z-index: 150;
  width: 100%;
  height: auto;

  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(37, 1fr);

  & .logo {
    grid-column: 2 / 5;

    & img {
      width: 100%;
      height: auto;
    }
  }

  & .contact {
    width: 100%;
    margin-left: auto;
    grid-column: 25 / 37;
    justify-content: flex-end;

    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 10px;
    align-items: center;

    & .contact-phone {
      display: grid;
      grid-template-columns: max-content max-content;
      column-gap: 10px;
      align-items: center;
    }
  }
}

.right-container {
  width: 100%;
  grid-column: 22/ 31;

  align-content: center;

  display: grid;
  grid-template-rows: repeat(3, min-content);
  row-gap: 15px;

  & .left-inputs {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    row-gap: 15px;

    & .input-select-container {
      width: 100%;
      height: min-content;
      border-radius: 4px;

      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: 56px;
      row-gap: 5px;
      grid-auto-rows: min-content;

      & .input-toggle-container {
        position: relative;
        width: 100%;
        grid-column: 1/4;
        user-select: none;
        cursor: pointer;

        border: 1px solid #c5cbe0;
        border-radius: 4px 0 0 4px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 17.5px;
        box-sizing: border-box;

        & svg {
          width: 16px;
          height: auto;

          & path {
            fill: red;
          }
        }

        & .input-toggle-list {
          position: absolute;
          z-index: 100;

          width: 100%;
          top: 100%;
          left: 0;

          background-color: #fff;
          display: grid;
          grid-auto-flow: row;
          grid-auto-rows: min-content;

          border: 1px solid #c5cbe0;
          border-radius: 4px;

          & .toggle-item {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;

            padding: 0 15px;
            box-sizing: border-box;

            &:hover {
              background-color: #f8f8f8;
            }
          }
        }
      }

      & .document-error {
        grid-column: 1 / 10;
      }

      & input {
        grid-column: 4/10;
        width: 100%;
        height: 100%;
        outline: none;
        border-radius: 0 4px 4px 0;

        padding: 0 15px;
        box-sizing: border-box;

        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 600;

        color: #676f8f;
        border: 1px solid #c5cbe0;
        border-left: 0;

        &::placeholder {
          color: #a9afd9;
          opacity: 1; /* Firefox */
        }
      }

      & input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      & input[type='number'] {
        -moz-appearance: textfield;
      }
    }
  }

  & .accept-policy-container {
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 15px;
    row-gap: 10px;
    margin: 15px 0;

    & .check-policy {
      width: 20px;
      height: 20px;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      user-select: none;
      border-radius: 4px;
      border: 1px solid #c5cbe0;
      box-sizing: border-box;

      & span {
        display: none;
      }
    }

    & .check-policy-active {
      background-color: #389e0d;
      & span {
        display: block;
        color: #fff;
        font-size: 12px;
      }
    }

    & .check-error {
      grid-column: 1 / 3;
    }
  }

  & .button-submit {
    display: grid;
    grid-template-columns: repeat(9, 1fr);

    & button {
      grid-column: 1 / 7;
    }
  }
}

@media (max-width: 1915px) {
  .container-page {
    width: 100%;
    margin: 0 auto;
  }

  .container {
    width: 100%;

    max-width: calc(100% - 40px);
  }
}
