.header {
  width: 100vw;
  position: absolute;
  height: 64px;

  top: 0;
  left: 0;

  background-color: transparent;

  z-index: 150;

  display: flex;
  align-items: center;

  & .logo {
    grid-column: 2 / 5;

    & img {
      width: 100%;
      height: auto;
    }
  }

  & .contact {
    width: 100%;
    margin-left: auto;
    grid-column: 25 / 37;
    justify-content: flex-end;

    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 10px;
    align-items: center;

    & .contact-phone {
      display: grid;
      grid-template-columns: max-content max-content;
      column-gap: 10px;
      align-items: center;

      & span:nth-child(3) {
        display: none;
      }
    }
  }
}

.header-header_background {
  background-color: #fff;

  border-bottom: 1px solid #d7dbf5;
  box-sizing: border-box;
}

@media (max-width: 875px) {
  .header {
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
      height: 16px;

      & img {
        width: auto;
        height: 100%;
      }
    }

    & .contact {
      & span:nth-child(1) {
        display: none;
      }

      & .contact-phone {
        & svg {
          width: 20px;
          height: 20px;
        }

        & span:nth-child(2) {
          display: none;
        }
        & span:nth-child(3) {
          display: block;
        }
      }
    }
  }
}
