.left-container {
  position: relative;
  z-index: 100;

  grid-column: 1 / 15;

  display: grid;
  grid-template-columns: repeat(14, 1fr);

  & .left-image-mobile {
    display: none;
  }

  & .left-background {
    position: absolute;
    top: 0;
    right: 0;

    display: grid;
    z-index: -100;
    grid-template-columns: repeat(14, 1fr);
    align-items: center;

    width: calc(100% + 10%);
    height: 100%;

    & .left-background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      object-fit: fill;
      overflow: hidden;
    }

    & .left-desktop {
      position: relative;
      z-index: 100;
      width: 100%;
      height: auto;

      // transform: translateY(-65%);
      margin-bottom: 65%;

      grid-column: 3 / 13;
    }
  }

  & .left-text-content {
    position: absolute;
    bottom: 20%;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    row-gap: 10px;

    grid-column: 2 / 11;
  }

  & .left-copyright {
    position: absolute;
    bottom: 5%;

    grid-column: 1 / 11;
  }
}

@media (max-width: 875px) {
  .left-container {
    position: relative;
    width: 100%;
    height: 350px;

    grid-row: 1 / 3;
    grid-column: 1/ 38;

    display: grid;
    grid-template-columns: repeat(38, 1fr);

    & .left-image-mobile {
      position: absolute;
      display: block;

      bottom: 0;
      right: 0;

      width: auto;
      height: 80%;

      bottom: 40%;
      transform: translateY(50%) translateX(40px);

      & img {
        width: auto;
        height: 100%;
      }
    }

    & .left-text-content {
      bottom: 50%;
      transform: translateY(50%);

      & div:nth-child(2) p {
        font-size: 24px;
      }

      & div:nth-child(2) p:nth-child(2) {
        color: #494f66;
      }

      & div:nth-child(3) p {
        font-size: 14px;
      }
    }
    & .left-background {
      display: none;
    }

    & .left-text-content {
      grid-column: 1/ 25;
    }

    & .left-copyright {
      display: none;
    }
  }
}

@media (max-width: 475px) {
  .left-container {
    & .left-image-mobile {
      position: absolute;
      display: block;

      bottom: 0;
      right: 0;

      width: auto;
      height: 80%;

      bottom: 40%;
      transform: translateY(50%) translateX(20px);

      & img {
        width: auto;
        height: 100%;
      }
    }
  }
}
