.right-container {
  position: relative;
  z-index: 100;
  height: 100%;
  min-height: 100vh;

  padding-top: 100px;

  box-sizing: border-box;

  grid-column: 11 / 38;

  display: grid;
  grid-template-columns: repeat(27, 1fr);

  & .coverage-container {
    grid-column: 4 / 16;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;

    margin-bottom: 80px;

    & .back-button {
      display: grid;
      width: max-content;
      grid-template-columns: min-content max-content;
      column-gap: 10px;
      align-items: center;

      cursor: pointer;
      user-select: none;

      & .back-icon {
        width: 24px;
        height: 24px;

        border: 1px solid #fc606b;
        border-radius: 100px;

        display: flex;
        justify-content: center;
        align-items: center;

        & svg {
          width: 10px;
          height: 10px;
          margin-right: 2.5px;
        }
      }
    }

    & .line-separetor-desktop {
      width: 100%;
      height: 1px;

      background-color: #d7dbf5;

      margin: 10px 0 40px 0;
    }
  }

  & .coverages-container {
    width: 100%;
    grid-column: 19 / 26;
  }
}

@media (max-width: 1230px) {
  .right-container {
    & .line-separetor-desktop {
      display: none;
    }
  }
}

@media (max-width: 875px) {
  .right-container {
    padding-top: 0;

    width: 100%;
    grid-column: 1 / 38;
    grid-row: 2 /3;

    display: grid;
    grid-template-columns: repeat(38, 1fr);

    & > div:nth-child(1) {
      grid-column: 1 / 38;
    }

    & .coverages-container {
      width: 100%;
      grid-column: 1 / 38;
    }

    & .coverage-container {
      margin-bottom: 0;

      & .back-button {
        display: none;
      }
    }
  }
}
